@font-face {
  font-family: 'pyeongchang';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PyeongChang-Regular.woff') format('woff'), url('../fonts/PyeongChang-Regular.otf') format('openType');
}
