<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/fragments/layout}" xmlns:th="http://thymeleaf.org">
<head>
	<title>Main page</title>
</head>
<th:block layout:fragment="content">
	<div class="wrapper wrapper-content" id="app">
		<div class="row">
			<div class="col-lg-3">
				<div class="ibox">
					<div class="ibox-title">
						<div class="ibox-tools">
							<!--<span class="label label-success float-right">Monthly</span>-->
						</div>
						<h5>누적 회원 수</h5>
					</div>
					<div class="ibox-content blue-bg">
						<h1 class="no-margins" v-text="todayUserStats.totalCount"></h1>
						<!--<div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>-->
						<small>Total users</small>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox ">
					<div class="ibox-title">
						<div class="ibox-tools">
							<!--<span class="label label-info float-right">Annual</span>-->
						</div>
						<h5>신규 회원 수</h5>
					</div>
					<div class="ibox-content navy-bg">
						<h1 class="no-margins" v-text="todayUserStats.todayNewCount"></h1>
						<!--<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
						<small>New users</small>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox ">
					<div class="ibox-title">
						<div class="ibox-tools">
							<!--<span class="label label-primary float-right">Today</span>-->
						</div>
						<h5>로그인 회원 수</h5>
					</div>
					<div class="ibox-content lazur-bg">
						<h1 class="no-margins" v-text="todayUserStats.todayLoginCount"></h1>
						<!--<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>-->
						<small>Login users</small>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox ">
					<div class="ibox-title">
						<div class="ibox-tools">
							<!--<span class="label label-danger float-right">Low value</span>-->
						</div>
						<h5>탈퇴 회원 수</h5>
					</div>
					<div class="ibox-content yellow-bg">
						<h1 class="no-margins" v-text="todayUserStats.todayDeleteCount"></h1>
						<!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>-->
						<small>Leave users</small>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>주요 일정</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-wrench"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#" class="dropdown-item">Config option 1</a>
								</li>
								<li><a href="#" class="dropdown-item">Config option 2</a>
								</li>
							</ul>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div id="calendar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {

			/* initialize the calendar
			 -----------------------------------------------------------------*/
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();

			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				editable: true,
				droppable: true, // this allows things to be dropped onto the calendar
				drop: function() {
					// is the "remove after drop" checkbox checked?
					if ($('#drop-remove').is(':checked')) {
						// if so, remove the element from the "Draggable Events" list
						$(this).remove();
					}
				},
				events: [
					{
						title: 'All Day Event',
						start: new Date(y, m, 1)
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2)
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
					}
				]
			});


		});

	</script>
	<script src="/static/admin/js/dashboard/main.js"></script>
</th:block>
</html>