<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/fragments/layout}" xmlns:th="http://thymeleaf.org">
<head>
	<title>Main page</title>
</head>
<th:block layout:fragment="content">
	<div class="wrapper wrapper-content animated fadeInRight" id="app">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>검색</h5>
					</div>
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<div class="form-group">
								<select class="form-control" v-model="search.groupId">
									<option value="0">전체</option>
									<template v-for="(group, idx) in adminGroups">
										<option :value="group.groupId">{{group.groupName}}</option>
									</template>
								</select>
							</div>
							<div class="form-group">
								<label for="s_username" class="sr-only">아이디</label>
								<input type="text" placeholder="아이디" id="s_username" class="form-control" v-model="search.username">
							</div>
							<div class="form-group">
								<label for="s_name" class="sr-only">이름</label>
								<input type="text" placeholder="이름" id="s_name" class="form-control" v-model="search.name">
							</div>
							<button class="btn btn-success" type="submit">검색</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="form-group row">
							<!--<p class="dataTables_info">Total {{managers.length}}</p>-->
							<div class="col-lg-3 m-2-n">
								<select class="form-control" v-model="search.pageSize">
									<option value="10">10개씩 보기</option>
									<option value="30">30개씩 보기</option>
									<option value="50">50개씩 보기</option>
									<option value="100">100개씩 보기</option>
								</select>
							</div>
							<p>
								<a type="button" href="/admin/system/managers/register" class="btn btn-outline btn-success">운영자 등록</a>
							</p>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover dataTables-example" >
								<thead>
								<tr>
									<th>No.</th>
									<th>아이디</th>
									<th>그룹명</th>
									<th>이름</th>
									<th>연락처</th>
									<th>이메일</th>
									<th>등록일시</th>
									<th>최근 로그인</th>
									<th>활동상태</th>
									<th>관리</th>
								</tr>
								</thead>
								<tbody>
								<template v-if="list.length == 0">
									<tr class="gradeX">
										<td colspan="100">데이터가 없습니다.</td>
									</tr>
								</template>
								<template v-else>
									<template v-for="(obj, idx) in list">
										<tr class="gradeX">
											<td>{{totalCount - ((search.page - 1) * search.pageSize) - idx}}</td>
											<td>{{obj.username}}</td>
											<td>{{obj.groupName}} 그룹</td>
											<td>{{obj.name}}</td>
											<td>{{obj.hp}}</td>
											<td>{{obj.email}}</td>
											<td class="center">{{convertDateFormat(obj.registerTime)}}</td>
											<td class="center">{{convertDateFormat(obj.lastLoginTime)}}</td>
											<td class="center">{{obj.active == true ? '정상' : '잠김'}}</td>
											<td class="center">
												<div class="btn-group">
													<button class="btn btn-info" type="button" @click="fnUpdate(obj)">수정</button>
													<!--<button class="btn btn-warning" type="button" @click="fnActive(obj, false)">비활성화</button>-->
													<button class="btn btn-danger" type="button" @click="fnDelete(obj)">삭제</button>
												</div>
											</td>
										</tr>
									</template>
								</template>
								</tfoot>
							</table>
							<div class="col-lg-12 m-2-n text-center">
								<div id="pagination" class="center"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/admin/js/system/managers/main.js"></script>
</th:block>
</html>