<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/fragments/layout_blank}" xmlns:th="http://thymeleaf.org">

<th:block layout:fragment="content">
	<form>
		<div class="passwordBox animated fadeInDown" id="app">
			<div class="row">
				<div class="col-md-12">
					<div class="ibox-content">
						<h2 class="font-bold">임시 비밀번호 변경</h2>
						<p>메일로 전송된 임시 비밀번호를 통해 비밀번호를 변경해주세요.</p>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="아이디" required="" v-model="auth.username">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="임시 비밀번호" required="" v-model="auth.tempPassword">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="비밀번호" required="" v-model="auth.password">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="비밀번호 확인" required="" v-model="auth.confirmPassword">
								</div>
								<button type="submit" class="btn btn-primary block full-width m-b">저장</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src="/static/admin/js/auth/changeTempPassword.js"></script>
</th:block>
</html>

