<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/fragments/layout_blank}" xmlns:th="http://thymeleaf.org">

<th:block layout:fragment="content">
	<form>
		<div class="passwordBox animated fadeInDown" id="app">
			<div class="row">
				<div class="col-md-12">
					<div class="ibox-content">
						<h2 class="font-bold">비밀번호 찾기</h2>
						<p>정보를 입력하시면 등록된 메일 주소로 임시 비밀번호를 발송합니다.</p>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="이름" required="" v-model="auth.name">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="아이디" required="" v-model="auth.username">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="이메일" required="" v-model="auth.email">
								</div>
								<button type="submit" class="btn btn-primary block full-width m-b">확인</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src="/static/admin/js/auth/findPassword.js"></script>
</th:block>
</html>

