<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/fragments/layout}" xmlns:th="http://thymeleaf.org">
<head>
	<title>Main page</title>
</head>
<th:block layout:fragment="content">
	<div class="wrapper wrapper-content animated fadeInRight" id="app">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover dataTables-example" >
								<thead>
								<tr>
									<th>Depth1</th>
									<th>Depth2</th>
									<th><label> <input type="checkbox" v-model="checkAllRead"><i></i> Read</label></th>
									<th><label> <input type="checkbox" v-model="checkAllCreate"><i></i> Create</label></th>
									<th><label> <input type="checkbox" v-model="checkAllUpdate"><i></i> Update</label></th>
									<th><label> <input type="checkbox" v-model="checkAllDelete"><i></i> Delete</label></th>
									<th><label> <input type="checkbox" v-model="checkAllDownload"><i></i> Download</label></th>
								</tr>
								</thead>
								<tbody>
								<template v-if="menus.length == 0">
									<tr class="gradeX">
										<td colspan="100">데이터가 없습니다.</td>
									</tr>
								</template>
								<template v-else>
									<template v-for="(obj, idx) in menus">
										<tr class="gradeX">
											<td class="center">{{obj.upperMenuId == 0 ? obj.menuName : ''}}</td>
											<td class="center">{{obj.upperMenuId > 0 ? obj.menuName : ''}}</td>
											<th><input type="checkbox" :value="obj.menuId" v-model="obj.hasRead"></th>
											<th><input type="checkbox" :value="obj.menuId" v-model="obj.hasCreate"></th>
											<th><input type="checkbox" :value="obj.menuId" v-model="obj.hasUpdate"></th>
											<th><input type="checkbox" :value="obj.menuId" v-model="obj.hasDelete"></th>
											<th><input type="checkbox" :value="obj.menuId" v-model="obj.hasDownload"></th>
										</tr>
									</template>
								</template>
								</tfoot>
							</table>
							<div class="form-group row">
								<div class="col-lg-offset-2 col-lg-4">
									<button class="btn btn-success" type="button" @click="fnSubmit()">저장</button>
									<button class="btn btn-white" type="button" @click="fnCancel()">취소 후 목록</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/admin/js/system/adminGroups/setupMenu.js"></script>
</th:block>
</html>