<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/user/fragments/layout}" xmlns:th="http://thymeleaf.org">
<body class="gray-bg">
	<main id="content" class="sub-content error-page-content" layout:fragment="content">
		<div class="section-inner">
			<div class="img"><img src="/static/user/images/img-error-page.png" alt="" /></div>
			<div class="text">앗, 죄송하지만 페이지를 찾을 수 없습니다.</div>
			<div class="btn-more-small">
				<a href="/">메인으로<i class="icon"></i></a>
			</div>
		</div>
	</main>
</body>
</html>
