<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="asideFragment">
	<div class="sidebar-collapse" id="asideMenu">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<a href="/admin/main"><img alt="image" class="rounded-circle"
						 src="/static/admin/images/logo.png"/></a>
					<span class="block m-t-xs font-bold">대학내일</span>
				</div>
				<div class="logo-element">
					IN+
				</div>
			</li>
			<!--
			<template v-for="(menu, idx) in menus">
				<li v-if="menu.hasRead == true" :class="menu.active == true ? 'active' : ''">
					<a href="javascript:void(0);"><i :class="'fa ' + menu.icon"></i> <span class="nav-label">{{menu.menuName}}</span> <span class="fa arrow"></span></a>
					<template v-if="menu.lowerMenus.length > 0">
						<ul class="nav nav-second-level">
							<template v-for="(lowerMenu, lowerIdx) in menu.lowerMenus">
								<li v-if="lowerMenu.hasRead == true" :class="lowerMenu.active == true ? 'active' : ''"><a :href="lowerMenu.linkUrl">{{lowerMenu.menuName}}</a></li>
							</template>
						</ul>
					</template>
				</li>
			</template>
			-->

			<th:block th:each="menu : ${adminGroupMenus}">
				<li th:if="${menu.hasRead == true}" th:class="${menu.active == true} ? 'active' : ''">
					<a href="javascript:void(0);"><i th:class="'fa ' + ${menu.icon}"></i> <span class="nav-label" th:text="${menu.menuName}"></span> <span class="fa arrow"></span></a>
					<th:block th:if="${menu.lowerMenus.size > 0}">
						<ul class="nav nav-second-level">
							<th:block th:each="lowerMenu : ${menu.lowerMenus}">
								<li th:if="${lowerMenu.hasRead == true}" th:class="${lowerMenu.active == true} ? 'active' : ''"><a th:href="${lowerMenu.linkUrl}" th:text="${lowerMenu.menuName}"></a></li>
							</th:block>
						</ul>
					</th:block>
				</li>
			</th:block>
			<li class="landing_link">
				<a target="_blank" href="http://webapplayers.com/inspinia_admin-v2.9.4/"><i class="fa fa-star"></i> <span class="nav-label">inspinia_admin-v2.9.4</span></a>
			</li>
			<!--
			<li class="active">
				<a href="index.html"><i class="fa fa-th-large"></i> <span
					class="nav-label">회원</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li class="active"><a href="/admin/user/users/main">회원 관리</a></li>
				</ul>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-th-large"></i> <span
					class="nav-label">참여</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="#">이벤트-1</a></li>
					<li><a href="#">이벤트-2</a></li>
					<li><a href="#">이벤트-3</a></li>
					<li><a href="#">이벤트-4</a></li>
				</ul>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-th-large"></i> <span
					class="nav-label">코드</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="/admin/code/common/main">공통코드 관리</a></li>
				</ul>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-th-large"></i> <span
					class="nav-label">시스템</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="/admin/system/managers/main">운영자 관리</a></li>
					<li><a href="/admin/system/adminMenus/main">메뉴 관리</a></li>
					<li><a href="/admin/system/adminGroups/main">그룹 관리</a></li>
				</ul>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-th-large"></i> <span
					class="nav-label">이력</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="/admin/log/login/main">로그인 이력</a></li>
					<li><a href="/admin/log/access/main">접근 이력</a></li>
					<li><a href="/admin/log/download/main">다운로드 이력</a></li>
				</ul>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-th-large"></i> <span
					class="nav-label">통계</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="/admin/stats/users/main">회원 통계</a></li>
				</ul>
			</li>
			-->
		</ul>
	</div>

	<script src="/static/admin/js/fragments/aside.js"></script>
</th:block>
</html>