<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="/admin/fragments/header::headerFragment"></th:block>
</head>
<body>
<div id="wrapper">
    <!-- 모달 창 -->
    <th:block th:replace="/admin/fragments/position::positionFragment"></th:block>

    <!-- 모달 창 -->
    <th:block th:replace="/admin/fragments/modal::modalFragment"></th:block>

    <!-- 패스워드 변경 모달 창 -->
    <th:block th:replace="/admin/fragments/modalPassword::modalPasswordFragment"></th:block>

    <nav class="navbar-default navbar-static-side" role="navigation">
        <!-- 좌측 메뉴 -->
        <th:block th:replace="/admin/fragments/aside::asideFragment"></th:block>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <!-- 상단 네비게이션 -->
                <th:block th:replace="/admin/fragments/nav::navFragment"></th:block>
            </nav>
        </div>
        <!-- 상단 메뉴 위치 -->
        <th:block th:replace="/admin/fragments/position::positionFragment"></th:block>

        <!-- 콘텐츠 영역 -->
        <th:block layout:fragment="content"></th:block>
        <div class="footer">
            <!-- 하단 영역 -->
            <th:block th:replace="/admin/fragments/footer::footerFragment"></th:block>
        </div>
    </div>
</div>
<th:block th:replace="/admin/fragments/etc::etcFragment"></th:block>
</body>
</html>

