<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="/admin/fragments/header::headerFragment"></th:block>
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <th:block th:replace="/admin/fragments/aside::asideFragment"></th:block>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <th:block th:replace="/admin/fragments/nav::navFragment"></th:block>
            </nav>
        </div>
        <th:block layout:fragment="content"></th:block>
        <th:block th:replace="/admin/fragments/footer::footerFragment"></th:block>
        <div class="footer">
            <th:block th:replace="/admin/fragments/footer::footerFragment"></th:block>
        </div>
    </div>
</div>
</body>
</html>

