<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="gnbFragment">
    <div id="gnbZone">
      <div th:if="${user != null && user != ''}">
        <span th:text="${user.name}"></span>님 환영합니다.
        <button onClick="_common.fnLogout()">로그아웃</button>
      </div>
      <div th:unless="${user != null && user != ''}">
        <button onClick="_common.fnLogin()">로그인</button>
        <button onClick="_common.fnJoin()">회원가입</button>
      </div>
      <button type="button" class="btn btn-primary block full-width m-b" onClick="_common.fnAdmin()">관리자 가기</button>
    </div>
  </th:block>
</html>
