<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/user/fragments/layout}" xmlns:th="http://thymeleaf.org">
<head>
	<title>Main page</title>
</head>
<body>
<main layout:fragment="content" class="sub-content mypage-content mypage-edit-password-content" id="app">
	<section class="mypage-body-section">
		<div class="section-inner medium">
			<div class="mypage-body-content">
				<div class="section-title">
					<div class="title">비밀번호 변경</div>
				</div>
				<div class="mypage-edit-form">
					<div class="section-inner xsmall">
						<div class="form-title">
							기존 비밀번호와<br />
							변경을 원하는 비밀번호를 입력해주세요.
						</div>
						<div class="form-layout-container">
							<div class="form-item">
								<div class="form-field">
									<div class="input-cover"><input type="password" id="password" name="" class="form-input" placeholder="기존 비밀번호" title="기존 비밀번호" v-model="user.password" /></div>
								</div>
							</div>
							<div class="form-item">
								<div class="form-field">
									<div class="input-cover"><input type="password" id="newPassword" name="" class="form-input" placeholder="비밀번호 (10~15자 이내로 영문, 숫자가 모두 포함되어야 합니다.)" title="변경할 비밀번호" v-model="user.newPassword" /></div>
								</div>
							</div>
							<div class="form-item">
								<div class="form-field">
									<div class="input-cover"><input type="password" id="confirmPassword" name="" class="form-input" placeholder="비밀번호 확인" title="비밀번호 확인" v-model="user.confirmPassword" /></div>
								</div>
							</div>
						</div>
						<div class="common-btn-group">
							<a href="javascript:void(0);" class="btn large primary" @click="fnSave()">비밀번호 변경하기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="/static/user/js/myPage/editPassword.js"></script>
</main>
</body>
</html>

